table {
	text-align: center !important;
	width: 100%;
}

.mat-header-cell {
	text-align: center;
}

.top-radius {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.allert {
	color: red;
}
a {
	text-decoration: none;
}
